body.dragover {
    cursor: copy;
}
#copy_bones_button {
    width: 40px;
    height: 40px;
}
#copy_flex_button {
    width: 40px;
    height: 40px;
}
#copyButton i {
    color: black;
}
.highlight {
    background-color: #f0f0f0;
}
#drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
#drop-area h2 {
    margin-bottom: 20px;
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}
#modal p {
    background: white;
    padding: 50px;
    border-radius: 5px;
    font-size: 20px;
    color: #333;
}
@keyframes fall {
    to {
        transform: translateY(calc(100vh + 150px)) rotate(360deg);
        ;
        opacity: 0;
    }
}
@keyframes sideMovement {
    0%, 100% {
        margin-left: 0px;
    }
    50% {
        margin-left: 20px;
    }
}
.aigis {
    position: fixed;
    width: 75px;
    height: 75px;
    top: -150px;
    will-change: transform, margin-left, opacity;
    z-index: 9999;
    animation: fall linear infinite, sideMovement ease-in-out infinite;
    animation-duration: var(--fall-duration, 5s), var(--side-duration, 5s);
    pointer-events: none;
    opacity: 0;
}
.custom-file-upload {
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    display: block;
    cursor: pointer;
}
.custom-file-upload:hover {
    border-color: #999999;
}